.button2 {
  background-image: url("https://chubbysquirrel.neocities.org/Photos/horshoeshells.JPEG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 500px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button3 {
  background-image: url("https://chubbysquirrel.neocities.org/IMG_3053.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 500px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button4 {
  background-image: url("https://chubbysquirrel.neocities.org/Images/hoover%20dam.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 500px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button5 {
  background-image: url("https://chubbysquirrel.neocities.org/IMG_0262.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 500px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button6 {
  background-image: url("https://chubbysquirrel.neocities.org/Images/jtnp.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 300px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button7 {
  background-image: url("https://chubbysquirrel.neocities.org/Images/sedona.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 500px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button8 {
  background-image: url("https://chubbysquirrel.neocities.org/Photos/image0%20(8).jpg");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 300px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button9 {
  background-image: url("https://chubbysquirrel.neocities.org/Images/fossils.jpg");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 300px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button10 {
  background-image: url("https://chubbysquirrel.neocities.org/Photos/betta%20fish.JPG");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 400px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}
.button11 {
  background-image: url("https://chubbysquirrel.neocities.org/Photos/henlopen%20scenery.jpg");
  width: 300px;
  height: 300px;
  font-size: 25px;
  font-family: 'Literata', serif;
  background-size: 400px;
  background-repeat: no-repeat;
  align-items: center;
  border: none;
}